* {
  margin: 0;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #ffffff;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: #d8d8d8;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right-width: 1px;
}

.sidebar-top {
  font-size: x-large;
  font-weight: bold;
  padding-top: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

.sidebar-center {
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.list-item-icon {
  width: 35px;
  padding-left: 30px;
}

.list-item:hover,
.list-item.active {
  background-color: #e0e9ff;
  color: #2a57cb;
  font-weight: bold;
  cursor: pointer;
}
