* {
  margin: 0;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #ffffff;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar-top {
  font-size: x-large;
  font-weight: bold;
  padding-top: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 50px;
}

.sidebar-center {
  width: 100%;
}

.list {
  list-style: none;
}

.list-item {
  margin-bottom: 2px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  /* background-color: rgb(128, 170, 247); */
  padding: 10px;
}

.list-item-icon {
  width: 35px;
}

.list-item:hover,
.list-item.active {
  background-color: #e0e9ff;
  color: #2a57cb;
  font-weight: bold;
}
